

<p> Look Up </p>

<p> Type in poet's name: </p>

<div>
  <table>
    <tr>
      <td style="border:none; vertical-align:0px;">
	<table id="suggestions" border="1"; data-num_suggestions="0"> 
	  <tr>
	    <td style="border:none">
	      <input 
	      id="suggestions_input" 
	      onkeyup="display_suggestions_for_name(document.getElementById('suggestions'), this.value)" 
	      onpaste="setTimeout(function(input){display_suggestions_for_name(document.getElementById('suggestions'), input.value);}, 10, this)"
	      onfocus="handle_onfocus(this)"
	      onblur="handle_onblur(this)"
	      >
	      </input>
	    </td>
	  </tr>
	</table>
      </td>
      <td style="border:none; vertical-align:0px;">	    
	<table border="0">
	  <tr>
	    <td style="border:none">
	      <button id="suggestions_select" data-str="Select" disabled>Select</button>
	    </td>
	    <tr>
	      <td>
		<button id="suggestions_create" data-str="Create" disabled>Create</button>
	      </td>
	    </tr>
	    <tr>
	      <td style="border:none"> 
		<div id="suggestions_message"></div>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
  </div>

  <script>

    input = document.getElementById('suggestions_input');
    input.addEventListener('keydown', function(e) {
      if (e.keyCode === 38 || e.keyCode === 40) e.preventDefault();
    }, false);

  </script>
