<% # image_tag image_path "logo_slam.png" %>
<% # FIXME: image_tag just displays a blank image. %>
	
<h1> <%= @title %>  </h1>

<div class="page_change" data-run="index" hidden></div>

<div id="create_new_slam" class="vwli" hidden>
  <div id="template_slams">
    <select>
      <% @templates.each do |template| %>
	<option> <%= template.title %> </option>
      <% end %>
    </select>
  </div>
</div>

<% @slams.each do |slam| %>
  <h2> <%= link_to slam.title, "/competition/show?id=" + slam.id.to_s %> </h2>
<% end %>
