<% # image_tag image_path "logo_slam.png" %>
<% # FIXME: image_tag just displays a blank image. %>

<div class="page_change" data-run="index" hidden></div>

<div class="row">
  <div class="small-12 columns">
	<canvas id="dotmatrix_canvas" width="847" height="85" data-message="<%= @title %>">
		<h1> <%= @title %> </h1>
	</canvas>
  </div>
</div>
<p> Dot Matrix from <a href="http://strugnell.com/labs/canvas_dot_matrix_prototype"> strugnell.com </a>
	

<% @slams.each do |slam| %>
  <h2> <%= link_to slam.title, "/competition/show?id=" + slam.id.to_s %> </h2>
<% end %>
