<%# =  image_tag "logo_slam.png" %>
<% # FIXME: image_tag just displays a blank image. %>

<h1> Van Slam Live </h1>

<% @slams.each do |slam| %>
  <h2> <%= link_to slam.title, "/competition/show?id=" + slam.id.to_s %> </h2>
<% end %>
