// Place all the styles related to the Poet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#poet_lookup {
  position: absolute;
  background-color: #D5EBD1;
}

.suggestion {
  border: none;
  background-color: #E0E1E5;
}
